
body { 
  background: #02070D url(https://images3.alphacoders.com/620/62009.jpg) no-repeat center!important; 
  background-size: cover!important;
  background-attachment: fixed!important;
}


#loader img{
  content:url(https://i.imgur.com/Ucs3tHc.gif); 
  width: 96px!important;
  height: 96px!important;
}
